.ActivityCard {
  background-color: #242424;

  .user-name,
  .activity-description {
    color: #c3c3c3;
    font-size: 16px;
  }

  .profile-picture {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 100% 0;
  }

  .data-column > div > h3 {
    color: #c3c3c3;
    font-size: 22px;
    font-weight: bolder;
  }

  .data-header-container {
    border-right: 1px solid gray;
  }

  .data-label,
  .units {
    font-size: 16px;
    color: #656569;
  }
}
