.ActivityCard {
  background-color: #242424;
  height: 500px;

  .user-name,
  .activity-description {
    color: #c3c3c3;
    font-size: 16px;
  }
  .profile-picture-container {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #656569;
  }
  .data-column > h3 {
    color: #c3c3c3;
  }
}
