.ProfilePage {
  .your-activities-cont {
    width: 30%;
    background-color: #242424;
    border-radius: 2px;

    .your-activities {
      color: #656569;
      font-size: 16px;
    }
  }

  .sufferpal-logo {
    width: 50%;
  }
}
