.table-div {
  color: #c3c3c3;
  width: 750px;
  padding-bottom: 50px;

  .header {
    color: #c3c3c3;
    text-align: center;
  }

  .table {
    color: #c3c3c3;
    width: 750px;
    padding-bottom: 50px;
  }

  .table-data {
    font-size: 12px;
    text-align: center;
  }
}
