// To use: map.get($theme-colors, {color name});
$theme-colors: (
  black: #1d1d1d,
  second-black: #242424,
  third-black: #2a2a2a,
  gray: #636569,
  second-gray: #c3c3c3,
  success: #00bc8c,
  yellow: #f1b153,
  second-yellow: #e3a84e,
);

body {
  font-family: 'Roboto', sans-serif;
}
